<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>About the project</h1>
        <nav>
            <a href="/blog">Back to Blog</a>
        </nav>
    </header>

    <div class="container"></div>
        <p>Welcome! This blog is a simple project built with Flask, MySQL, and HTML/CSS.</p>
        <p>Here, you can read and add posts, explore ideas, and see how a dynamic web app works from scratch.</p>
    </div>

</body>

</html>