<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Register to Post</h1>
        <nav>
            <a href="/blog">Back to Blog</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <div class="container">
        <form action="/register" method="POST">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <input type="submit" value="Register">
        </form>
    </div>

</body>
</html>